.finance__resume {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    padding: 50px 0px;
}

.finance__card {
    background-color: #2E4750;
    width: 33%;
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    padding: 16px;
    margin: 10px;
    line-height: 20px;
    margin: 0;
}

.finance__card h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
}

.finance__card p {
    font-size: 38px;
    line-height: 1;
    margin-bottom: 0px;
}

.table_selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.mounth_selector {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: baseline;
    font-size: 25px;
    margin-bottom: 10px;
}

.col10 {
    width: 10%;
}

.col15 {
    width: 15%;
}
.col40 {
    width: 40%;
}

@media (max-width: 768px) {
  .finance__top {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    margin-bottom: 40px;
  }
}