* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  font-family: Poppins, Arial, sans-serif;
  background-color: #13262d;
  color: #ffffff;
}

header {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  padding: 10px 40px;
  background-color: #1e3842;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 1240px;
  justify-content: space-between;
}

.logo {
  width: 180px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  gap: 20px;
}

nav li {
  list-style: none;
  display: inline-flex;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #ffb417;
  font-weight: 500;
  font-size: 16px;
}

.nav-button {
  background-color: #ffb417;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 100px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #ffc551;
}

.nav-button a {
  color: #13262d;
}

h1 {
  font-weight: 300;
  font-size: 52px;
  line-height: 1.2em;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 20px;
}

button {
  background-color: #ffb417;
  color: #13262d;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
}

button:hover {
  background-color: #ffc551;
}

main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1240px;
  gap: 40px;
  padding: 40px 20px;
}

.banner-left {
  width: 50%;
  margin-top: 30px;
}

.banner-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

html,
body,
#root {
  height: 100%;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-layout > main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer {
  background-color: #1e3842;
  padding: 16px 40px;
  text-align: center;
  color: #ffffff;
}
